@import url('https://googleapis.com');

:root {
  font-family: "Atkinson Hyperlegible", sans-serif;
}

body {
  margin: 0;
  background-color: #f9fafb;
  color: #1f2937;
}

/* Esto evitará que la app se vea rota aunque no esté Tailwind activo */
button {
  cursor: pointer;
}
